# Copie este arquivo para .env e ajuste o valor conforme necessário
# cp .env.example .env

DATA_FILE=sample_data.xlsx

# Conexão com o Banco de Dados
MONGO_URI="mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?retryWrites=true&w=majority"

# Chave de segurança do Flask (geração de sessão)
SECRET_KEY="coloque_uma_chave_aleatoria_aqui"

# Credenciais do Primeiro Usuário Administrador
ROOT_USER="nome_do_usuario_root"
ROOT_PASS="senha_forte_do_usuario_root"
