# Ambiente virtual
venv/
__pycache__/
*.pyc

# Planilhas com dados reais da empresa (NUNCA SUBIR)
data/
data/*.xlsx
data/*.pdf

alfa_logo.png

# Log ou arquivos temporários
.streamlit/

#variaveis de ambiente
.env
